[user]
	name = cethien
	email = borislaw.sotnikow@gmx.de
[init]
	defaultBranch = main
[core]
	eol = lf
	autocrlf = input
[alias]
	ignore = "!gi() { curl -fsSL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
