{{ define "layout" }}
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="UTF-8" />
			<meta
				name="viewport"
				content="width=device-width, initial-scale=1.0"
			/>

			<title>{{ AppName }}</title>

			<link
				rel="shortcut icon"
				href="favicon.svg"
				type="image/svg"
			/>
			<link
				rel="stylesheet"
				href="css/main{{ if not dev }}.min{{ end }}.css"
			/>
			<script
				defer
				src="js/main{{ if not dev }}.min{{ end }}.js"
			></script>
		</head>
		<body
			class="grid h-screen select-none grid-rows-[auto_1fr_auto] gap-4 p-2 antialiased dark:bg-black dark:text-white"
		>
			<header>
				{{ template "header" . }}
			</header>
			<main>
				{{ template "page" . }}
			</main>
			<footer>
				{{ template "footer" . }}
			</footer>
		</body>
	</html>
{{ end }}

{{ define "header" }}
	{{ if dev }}
		<div
			class="bg-red-300 text-center text-lg font-semibold uppercase italic text-red-900"
		>
			development
		</div>
	{{ end }}
	<div class="flex flex-row items-center justify-between py-2">
		<a
			href="/"
			class="text-3xl font-extrabold"
		>
			{{ AppName }}
		</a>

		<nav class="flex flex-row gap-4">
			{{ template "nav-item" (arr "Home" "/") }}
			{{ template "nav-item" (arr "About" "/about") }}
		</nav>
	</div>
{{ end }}

{{ define "nav-item" }}
	{{ $title := index . 0 }}
	{{ $href := index . 1 }}
	<a
		href="{{ $href }}"
		class="font-semibold uppercase hover:underline"
	>
		{{ $title }}
	</a>
{{ end }}

{{ define "footer" }}
	<div class="items-center justify-evenly p-2">
		<div>&copy; cethien 2023</div>
	</div>
{{ end }}
