{{ define "page" }}
	<h1>About</h1>
	<article>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ea? Quos,
			nulla eius dignissimos explicabo commodi quia ex corrupti distinctio
			quasi, error ipsum odio unde inventore quidem excepturi. Molestiae,
			beatae!
		</p>
		<p>
			Tempora cum accusantium cumque adipisci, in aspernatur? Suscipit saepe
			autem aut libero vitae, quae sed, itaque architecto incidunt magnam ipsam
			est maxime quod ducimus omnis quos asperiores harum praesentium illo!
		</p>
		<p>
			Iusto labore officiis, aperiam ipsa ullam fuga consequuntur asperiores?
			Explicabo doloremque corrupti, error nesciunt ut, minus dignissimos nobis,
			fuga autem recusandae labore impedit odit sunt quasi? Itaque nihil natus
			pariatur?
		</p>
	</article>
{{ end }}
