{{ define "layout" }}
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="UTF-8" />
			<meta
				name="viewport"
				content="width=device-width, initial-scale=1.0"
			/>

			<title>{{ AppName }}</title>

			<link
				rel="shortcut icon"
				href="favicon.svg"
				type="image/svg"
			/>
			<link
				rel="stylesheet"
				href="css/main{{ if not dev }}.min{{ end }}.css"
			/>
			<script
				defer
				src="js/main{{ if not dev }}.min{{ end }}.js"
			></script>
		</head>
		<body
			class="select-none antialiased dark:bg-black dark:text-white"
		>
        <main>
            {{ template "page" . }}
        </main>
		</body>
	</html>
{{ end }}

